@if(project is not null)
{
    <div class="d-flex justify-center pt-10" >
        <MudImage Src="@project.GifPath" ObjectFit="ObjectFit.Contain" Height="400" Style="width: 100%"/>
    </div>

    <div class="d-flex justify-start pl-16 pb-2 pt-6">
        <MudText Typo="Typo.h5">@project.Name</MudText>
    </div>

    <div class="d-flex justify-start pl-16 py-2">
        <MudText Typo="Typo.body1">@project.Description</MudText>
    </div>

    <div class="d-flex justify-start align-center flex-wrap  pl-16 py-2">
    @foreach(var technology in project.Technologies)
    {
            <MudText Typo="Typo.body1" Class="ma-4 "><MudIcon Icon="@Icons.Material.Filled.CheckCircle" Color="Color.Dark"></MudIcon> @technology</MudText>  
    }
    </div>
    
    <div class="d-flex justify-center py-4">
        <MudButton Variant="Variant.Filled" Size="Size.Medium" 
            StartIcon="@Icons.Custom.Brands.GitHub" 
            Color="Color.Info"
            Target="_blank" 
            Href="@project.GithubLink">Repository
        </MudButton>
    </div>
}

@code {
    [Parameter]
    public Project? project {get; set;}
}
